.purchase{
	font-size: 20px;
}
.title{
	text-align: center;
	margin-top: -27px;
	font-size: 20px;
}
footer{
	width: 100vw;
	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between;
    position: fixed;
    bottom: 0;
    font-size: 20px;
}
footer div{
display: inline-block;
}
.box {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.list{
	display: flex;
	flex-direction: column;
    position: absolute;
    display: none;
    bottom: 35px;
    left: 25px;
}

