
.title{
	text-align: center;
	margin-top: -20px;
  width: 200px;
  height: 200px;
  background-color: yellow;
}
footer{
	width: 100vw;
	display: flex;
	justify-content: space-between;
    position: fixed;
    bottom: 0;
}
footer div{
display: inline-block;
}
.box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.list{
	display: flex;
	flex-direction: column;
    position: absolute;
    display: none;
    bottom: 10px;
    left: 10px;
}

